<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            <form method="POST" th:attr="action=@{/add_employee.do}" th:object="${employee}">
                First Name<input th:field="*{firstName}"/>
                <br/>
                Last Name<input th:field="*{lastName}"/>
                <br/>
                <select th:value="*{department.departmentId}">
                    <option th:each="dep : ${departments}" th:text="${dep.departmentName}" th:value="${dep.departmentId}"/>
                </select>
                <br/>
                <button type="action">Guardar</button>
            </form>
            <span th:text="${employee.firstName}"></span>
        </div>
    </body>
</html>
